@using TicketSalePoint.Models;
@using TicketSalePoint.ViewModels;

@model TicketSalePoint.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Покупка билетов";
}
<link rel="stylesheet" href="css/SalePointStyle.css">





<h2>Места в зале</h2>

@foreach (TicketEmission te in Model.TicketsEmissions)
{

    int rowsTotal = Model.hallMappings[te.id].GetUpperBound(0);
    int colsTotal = Model.hallMappings[te.id].GetUpperBound(1);


	<table class="hall">
		<thead>
			<td colspan=6 >
				<center><b>Сеанс с @te.begDateTime.ToLongDateString() @te.begDateTime.ToLongTimeString()  по  @te.endDateTime.ToLongDateString() @te.endDateTime.ToLongTimeString()</b></center>
			</td>
		</thead>

		@for (int i = 0; i <= rowsTotal; i++)
		{
			<tr>
				@for (int j = 0; j <= colsTotal; j++)
				{
					int idx = i * (colsTotal+1) + j+1;
					int isSold = Model.hallMappings[te.id][i,j];
					<td class="hallPlaces" onclick="sellTicketForm(event)" id=@idx isSold=@isSold curEmissionId=@te.id>
						@isSold|@idx
					</td>
				}
			</tr>
		}
	</table>
}

