@using TicketSalePoint.Models;
@using TicketSalePoint.ViewModels;

@model TicketSalePoint.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Заказ и бронирование билетов";
}


<h3>
    <b>Форма заказа и бронирования билетов на сеанс  с @Model.currentTicketsEmission.begDateTime  по  @Model.currentTicketsEmission.endDateTime </b>
</h3>

<form method="post" action="home/sell?">
<input type="hidden" name="curEmId" value=@Model.currentTicketsEmission.id>
<div style="float: left;margin-right: 35px;" >
	        <label>Введите количество взрослых билетов</label><br />
			<input id="ticketNumber" type="text" name="kol" value="2" onchange="ticketsNumberChange()" />
</div>
<div>

	        <label>Количество детских билетов</label><br />
			<input id="ticketNumberChildren" type="text" name="kolChildren" value="2" onchange="ticketsNumberChangeChildren()" />
</div>
<br>

<table class="OrderTableTemplate" style="float: left;margin-right: 20px;"> 
	<thead bgcolor="coral">
		<th colspan=2 >Для взрослых</th>	
	</thead>

    <tr  bgcolor="coral" class="OrderTemplateHeader2">
		<td class="orderRowId1">ФИО</td>	
		<td class="orderRowId2">Моб.Тел.№</td>
    </tr>
     <tr class="orderRowTemplate">
        <td class="orderRowId1">
			<input type="text" name="fIO" placeholder="ФИО взрослого" class="orderRowId1"/>
		</td>
     	<td class="orderRowId2">
			<input type="text" name="phone" placeholder="Мобильный телефон" class="orderRowId2"/>
		</td>
	</tr>
</table>

<table class="OrderTableTemplateChildren" style="clear: left"> 
	<thead bgcolor="coral">
		<th colspan=2>Для детей</th>	
	</thead>

    <tr  bgcolor="coral" class="OrderTemplateHeader2">
		<td class="orderRowId1">ФИО</td>	
		<td class="orderRowId2">Возраст</td>
    </tr>
     <tr class="orderRowTemplateChildren">
        <td class="orderRowId1">
			<input type="text" name="fIOChildren" placeholder="Имя ребенка" class="orderRowId1"/>
		</td>
     	<td class="orderRowId2">
			<input type="text" name="age" placeholder="Возраст" class="orderRowId2"/>
		</td>
	</tr>
</table>
<br>
<input type="submit" value="Забронировать места" >
</input>


</form>


<br  style="clear: left">
<br  style="clear: left">
<a href="/home"  class="bottom-content">Назад к списку</a>
