@using TicketSalePoint.Models;
@using TicketSalePoint.ViewModels;

@model TicketSalePoint.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Покупка билетов";
}
<table class="table">
    <tr>
		<th>Место в зале</th>	
		<th>Цена билета</th>
		<th>Номер</th>
		<th>Продан</th>
    </tr>
    @foreach (Ticket t in Model.currentTicketsSet)
    {
     <tr>
        <td>@t.place</td>
     	<td>@t.price</td>
		<td>@t.id</td>
    	<td>@t.isSold</td>
	</tr>
    }
</table>
<form method="get" action ="">
    <p>
        <label>Имя</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Количество</label><br />
        <input type="number" name="quantity" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
<a href="/home">Назад к списку</a>