.hall {
background-color:darkcyan;
border-style:solid;
border-color:brown;
}
.hallPlaces {
    padding: 30px;
    border-style: solid;
    border-color: brown;
}
.hallPlacesOccupied {
    padding: 30px;
    border-style: solid;
    border-color: brown;
    background-color:coral;
}

.hallPlaces:hover {
background-color:aqua;
}

.OrderTableTemplate th{
    text-align: center;
}
.OrderTableTemplateChildren th {
    text-align: center;
}


.orderRowId1 {
    width:350px;
}
.orderRowId2 {
    width: 150px;
}
.orderRowId3 {
    width: 250px;

}

.bottom-content {
    clear:left;
}
